@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


@font-face {
    font-family: 'Sharp Grotesk Book 20';
    src: url('/Fonts/sharp_grotesk_book_20_regular-webfont.woff2') format('woff2'),
         url('/Fonts/sharp_grotesk_book_20_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-Bold';
    src: url('/Fonts/suisseintl-bold-webfont.woff2') format('woff2'),
         url('/Fonts/suisseintl-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-Book';
    src: url('/Fonts/suisseintl-book-webfont.woff2') format('woff2'),
         url('/Fonts/suisseintl-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-SemiBold';
    src: url('/Fonts/suisseintl-semibold-webfont.woff2') format('woff2'),
         url('/Fonts/suisseintl-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-Thin';
    src: url('/Fonts/suisseintl-thin-webfont.woff2') format('woff2'),
         url('/Fonts/suisseintl-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-Light';
    src: url('/Fonts/SuisseIntl-Light.woff2') format('woff2'),
         url('/Fonts/SuisseIntl-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;

    *:focus {
        outline-style: none;
    }
}

$blue: #0056ff;
$blue-hover: #0246cf ;
$white: white;
$white-hover: rgb(201, 201, 201);

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
/*
.body-black-wrapper {
    overflow-x: hidden;
    position: relative;
}
*/

@media screen and (max-width: 991px){
    .wrapper {
        padding: 0 10%;
        margin: 0 auto; 
        overflow: hidden; 
    }

    .button-wrapper {
        display: block;
        padding: 1em 0;

        a {
            border: solid 2px #0056ff ;
            background-color: #0056ff;
            padding: 1em 2em;
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 0.8em;
            color: white;
            text-decoration: none;
        }
    }

    .button-wrapper-alt {
        display: block;
        padding: 1em 0;

        a {
            border: solid 2px #0056ff ;
            padding: 1em 2em;
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 0.8em;
            color: #0056ff;
            text-decoration: none;
        }
    }

    .navbar{
        position: fixed;
        top: 0;
        padding: 0 10%;
        width: 100vw;
        background-color: white;
        z-index: 10000;


        .navbar-brand {
            width: 40%;
            max-width: 300px;
            justify-content: left;
    
                .logo-full__blue {
                    width: 100%;
                    justify-content: left;
                }
            }

        .container-fluid {
            justify-content: space-between;
            padding: 0;
            padding-bottom: 1em;
            border-bottom: solid black 2.5px;
            margin: 0;
            width: 100%;

            .navbar-toggler,
            .navbar-toggler:focus,
            .navbar-toggler:active,
            .navbar-toggler-icon:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }
    
            .collapse {
                margin: auto;
                padding: 0;
                background-color: $blue ;

                .nav-item {
                    padding: 1em 0;
                    color: white;
    
                    .nav-link {
                        color: white;
                        margin-left: 1.5em;
                        font-family: "SuisseIntl-SemiBold";
                    }
                }

                .nav-item:hover {
                    background-color: $blue-hover;
                }
    
            }
        }
    }

    .navbar-white {
        position: fixed;
        top: 0;
        padding: 0 5%;
        width: 100vw;
        background-color: black;
        overflow-x: hidden!important;
        z-index: 10000;

        .navbar-brand {
            width: 40%;
            max-width: 300px;
            justify-content: left;
    
                .logo-full__blue {
                    width: 100%;
                    justify-content: left;
                }
            }

        .container-fluid {
            justify-content: space-between;
            padding-bottom: 1em;
            border-bottom: solid white 2px;
            margin: 0;

            .navbar-toggler,
            .navbar-toggler:focus,
            .navbar-toggler:active,
            .navbar-toggler-icon:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }

            .collapse {
                margin: auto;
                padding: 0;
                background-color: $blue ;
    
                .nav-link {
                    color: white;
                    font-family: "SuisseIntl-SemiBold";
                }
    
                .nav-link {
                    color: white;
                    margin-left: 1.5em;
                    transition: all 0.2s ease-in-out;
                }
    
                .nav-link:hover {
                    color: $blue;
                }
    
            }
        }
    }

    .footer-content {
            padding: 15px 0 15px 0;
            display: flex;
            flex-direction: column-reverse;
            margin: auto;
            border-top: solid 2.5px;

            .logo__blue {
                height: 30px;
                width: 100%;
            }
            
            ul {
                display: flex;
                flex-direction: column-reverse;
                text-decoration: none;
                padding: 0;
                text-align: center;
                list-style: none;
                
                li  {
                    font-size: 1em;
                    font-family: 'SuisseIntl-Book';

                    a{
                    text-decoration: none;
                    color: #000000;
                    }
                }
            }
    }
    
    .footer-white {
        padding: 15px 0 15px 0;
        display: flex;
        flex-direction: column;
        border-top: solid 2px white;

        .logo__white {
            height: 30px;
            width: 100%;
        }
        
        ul {
            width: 100%;
            padding: 0;
            text-align: center;
            list-style: none;
            color: white;
            

            li {
                font-size: 1em;
                font-family: 'SuisseIntl-Book';
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .hero-section {
        position: relative;
        height: 110vh;
        padding-top: 20%;

        .row {
            display: flex;
            flex-direction: column-reverse;
        }

        .column {
            margin: auto;
            text-align: center;
            
        }
        .hero-content {
            position: absolute;
            top: 45%;
            right: 50%;
            margin-right: -150px;
            width: auto;
            max-width: 300px;     
        }

        h1 {
            font-family: 'SuisseIntl-SemiBold';
            font-size: 2em;
            line-height: 1em;

        }

        h2 {
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 0.95em;
            line-height: 1.4;
        }

        .button-wrapper {
            a{
            padding: 1em 4em;
            }
        }

        .three-screens {
            margin: auto;
        }

        img {
            height: auto;
            max-width: 140px;
            top: 16%;
            left: 50%;
            margin-left: -70px; 
        }

        .hero-img-top {
            position: absolute;
            transform: translate(50px, -40px);
        }

        .hero-img-mid {
            position: absolute;
        }

        .hero-img-bottom {
            position: absolute;
            transform: translate(-50px,15px);  
        }
    }

    .Checkusout {
        display: flex;
        padding: 35% 0;

            h1 {
                width: 100%;
                text-align: center;
                font-family: 'SuisseIntl-SemiBold';
                font-size: 2.8em;   
                padding-bottom: 0.5em;
            }

            .button-wrapper {
                width: 100%;
                margin: auto;
                text-align: center;
                padding: 0.05em;
            }
    }

    .service-preview {
        color: white;

        .row {
            display: block;
        }
        .col {
            margin: auto;
            padding: 10% 4em;

        }

        h1 {
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 2.5em;
            line-height: 1.4;
            padding-bottom: 0.5em;
        }

        h3 {
            font-family: 'SuisseIntl-Thin';
            font-size: 1.5;
        }

    }

    .testimonials {
        color: white;
        padding: 10% 1em;
        text-align: center;
        background-color: #0056ff;
        min-height: 60vh;


        h2 {
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 1,5em;
            line-height: 1.4;
        }

        h3 {
            font-family: 'SuisseIntl-Thin';
            font-size: 1.5;
        }

        .carousel-control-next {
            width: auto;
        }

        .carousel-control-prev {
            width: auto;
        }

        .carousel-inner {
            min-height: 50vh;
            display: flex;
            align-items: center;
    
        }

    }

    .contactus {
        scroll-behavior: smooth;
        padding-top: 3em;

        .contact-title {
            display: block;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            margin-bottom: 20%;

            h1 {
                font-family: 'SuisseIntl-SemiBold';
                font-size: 4em;
                text-align: center;
                line-height: 1;
            }

            ul {
                list-style: none;
                margin: auto;
                padding: 0;
                text-align: center;
            
                li a {
                    text-decoration: none;
                    color: black;
                    font-size: 1em;
                    font-family: 'SuisseIntl-SemiBold'
                }
            }
        }

        .form-block {
            display: block;
            padding: 0 0 10% 0;

            label {
                font-family: "Sharp Grotesk Book 20";
                font-size: 0.95em;
                font-weight: 900;
            }
            
            input[type=text], input[type=email], input[type=tel] {
                border: none;
                border-bottom: solid 3.5px black;
                padding: 0 1em 0.5em 1em;
                margin: 1em 0 2em 0;
                width: 100%;

                font-family: 'SuisseIntl-Thin';
                font-size: 0.95em;
                font-weight: 900;
            }


            textarea {
                border: none;
                border-bottom: solid 3.5px black;
                width: 100%;
                margin: 1em 0 2em 0;
                padding: 0em 1em 5em 1em;

                resize: vertical;

                font-family: 'SuisseIntl-Thin';
                font-size: 0.95em;
                font-weight: 900;
            }

            input:focus, textarea:focus {
            border-bottom: solid 3.5px #0056ff;
            }
            
            input[type=submit] {   
                display: block;
                margin: auto;

                font-family: 'Sharp Grotesk Book 20';
                font-weight: 500;
                font-size: 0.95em;
                background-color: #0056ff;
                    
                border: none;
                color: white;
                padding: 1em 6em;
                text-decoration: none;
                cursor: pointer;
            }

            input[type=submit]:hover {
                background-color: #0035ff;
            }  
        }
    }

    .about-header {
        padding: 30% 10%;
        display: block;
        margin: auto;

        h1 {
            font-family: 'SuisseIntl-Bold';
            font-size: 4.5em;
            margin: auto;
            text-align: center;
        }

        p {
            font-family: 'SuisseIntl-Light';
            font-size: 20px;
            text-align: center;
        }
    }

    .design-language {
        display: none;

        .accordion__div {
            padding: 5% 5%;
        }

        .accordion {
            width: 100%;
            background: blue($color: #000000);
            border: none;
            display: flex;
            text-decoration: none;
            
            img {
                height: 3em;
                display: block;
                margin: auto;
                cursor: pointer;
                transition: transform 0.2s;
            }

            h1 {
                white-space: nowrap;
                font-family: 'SuisseIntl-SemiBold';
                font-size: 4em;
                padding: 0 0.5em;
                text-decoration: none;
                color: black;
                cursor: pointer;
            }

            .line-wrapper{
                width: 100%;
                display: block;
                margin: auto;

                .line-divider {
                    height: 3.5px;
                    border: solid;
                    cursor: pointer;
                    transition: ease-in-out 0.2s  ;
                }
            }
        } 

        .accordion.active {
            img {
                transform: rotate(45deg);
            }

            .line-divider  {
                border: solid  #0056ff ; 
            } 
        }
        
        .accordion:hover .line-divider  {
                border: solid  #0056ff ; 
        } 

        .accordion__content {
            max-height: 0;
            overflow: hidden;
            transition: max-height ease-in-out 0.3s;
            p {
                padding: 0 10%;
                font-family: 'SuisseIntl-Light';
                font-size: 20px;  
            } 
        }

        button.accordion__header {
            width: 100%;
            background-color: whitesmoke;
            display: flex;
            text-decoration: none;
            border: none;
            outline: none;
            text-align: left;
            padding: 15px 20px;
            font-size: 18px;
            color: #444;
            cursor: pointer;
            transition: background-color 0.2s linear;
        }

        .accordion__design{
            background-color: white;
            border-left: 1px solid whitesmoke;
            border-right: 1px solid whitesmoke;
            padding: 0 20%;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-in-out;
        }
    }
    
    .lets-work {
        padding-top: 30%;

        .Lets-work-title{

            padding-bottom: 30px;

            h1 {
            font-family: 'SuisseIntl-Bold';
            font-size: 3.5em;
            line-height: 1em;
            margin: auto;
            margin-bottom: 5%;
            text-align: center;
            }

            h2 {
            font-family: 'SuisseIntl-Thin';
            font-size: 1em;
            margin: auto;
            text-align: center;
            }
        }


        .form-block {
            display: block;
            padding: 0 0 15% 0;
            margin: auto;


            label {
                font-family: "Sharp Grotesk Book 20";
                font-weight: 900;
                font-size: 0.95em;
            }
            
            
            input[type=text], input[type=email], input[type=tel] {
                border: none;
                border-bottom: solid 3.5px black;
                padding: 0 1em 0.5em 1em;
                margin: 1em 0 2em 0;

                font-family: 'SuisseIntl-Thin';
                font-size: 0.95em;
                font-weight: 900;
                width: 100%;
            }


            textarea {
                border: none;
                border-bottom: solid 3.5px black;
                margin: 1em 0 2em 0;
                padding: 0em 1em 5em 1em;
                width: 100%;

                resize: vertical;

                font-family: 'SuisseIntl-Thin';
                font-size: 0.95em;
                font-weight: 900;
            }

            input:focus, textarea:focus {
            border-bottom: solid 3.5px #0056ff;
            }

            input[type=submit] {   
                display: block;
                margin: auto;

                font-family: 'Sharp Grotesk Book 20';
                font-weight: 500;
                font-size: 1em;
                background-color: #0056ff;
                    
                border: none;
                color: white;
                padding: 1em 6em;
                text-decoration: none;
                cursor: pointer;
            }

            input[type=submit]:hover {
                background-color: #0035ff;
            }
        }
    }

    .scroll-carousel {
        padding-top: 20%;

        .row- {
            display: flex;
            clear: both;
        }

        .column-left {
            display: table-cell;
            float: left;
            width: 30%;
            padding-top: 2%;
            

            h1 {
                font-family: 'SuisseIntl-Bold';
                font-size: 1.5em;
                letter-spacing: auto;
                color: white;
            }

            .portfolio-menu {
                font-family: 'Sharp Grotesk Book 20';
                position: -webkit- sticky;
                position: sticky;
                top: 70vh;
                padding-bottom: 10px;


                ul {
                    padding: 0;
                    list-style: none;
                
                    li {
                        padding: 5px 0;

                        a:active {
                            color: white;
                            font-size: 1em;
                        }  

                        a:hover {
                            color: #0056ff;
                            font-size: 0.9em;
                        }

                        a {
                            color:white;
                            font-size: 1em;
                            transition:all .3s ease;
                        }
                    }
                }
            }
        }

        .column-right {
            display: table-cell;
            float: right;
            padding-left: 15%;
            
            h4 {
                color: white;
                font-family: 'Roboto Mono';
                font-size: 0.5em;
                margin-bottom:8em ;
            }

            .branding-section {
                padding-top: 5%;
                scroll-behavior: smooth;
            }

            .imagebox {
                text-align: center;
                margin-bottom: 3em;

                img {
                    margin-bottom: 1em;
                }
            }
            

            .imagebox-padded {
                
                text-align: center;
                padding: 0 5%;
                margin-bottom: 4em;
                width: 100%;

                img {
                    margin-bottom: 10px;
                    max-width: 40vw;
                }
            }

            .line-wrapper{
                width: 100%;
                margin-bottom: 3em;
                
        
                .line-divider {
                    height: 1px;
                    border: solid white 1px;
                }
            }

            .album-covers {
                scroll-behavior: smooth;

                .imagebox-padded {
                    text-align: center;
                    margin-bottom: 3em;
        
                    img {
                        margin-bottom: 0.5em;    
                        width: 100%;
                    }
                }
            }

            .website-section{
                scroll-behavior: smooth;

                a{
  
                    img {
                        border-radius: 8px;
                        transition: all ease-in-out 0.2s;
                        width: 100%;

                    img:hover {
                        border: solid 4px $blue;
                    }
                }
            }
        
        
        }
    }

}


.Portfolio-Title {
    text-align: center;
    color: white;
    margin-top: 5em;

    h1 {
    font-family: 'SuisseIntl-Bold';
    font-size: 4em;
    }
}

.Menu {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 6.4vh;
    background: #000000;
    z-index: 1000;

    .Menu-wrapper {
        color: white;
        display: flex;
        margin: auto;
        justify-content: center;
        padding-top: 1.5em;
        padding-bottom: 1em;
        
        
        h2 {
            font-family: 'Sharp Grotesk Book 20';
        }


            a {
                margin: 0 1em ;
                text-decoration: none;
                color: white;
                text-align: center;

                h2 {
                font-size: 0.8em;
                }
            }

            a:hover {
                color: $blue;
            }

            a:active {
                color: $blue;
            }
    }
}


.portfolio-section {
    margin-bottom: 4em;
    .line-divide { 
        margin-bottom: 4em;
        height: 3px;
        background-color: white;
    }

    .showcase-box{
        margin: auto;
        align-content: center;
        justify-content: center;
        height: 80vh;
        text-align: center;

        .Blur-wrap{
            position: absolute;
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;
            opacity: 0;
            transition: .5s ease;
            background-color: #00000080;
            

            h2 {
                margin: auto;
                text-align: center;
                font-size: 5em;
                color: white;
            }
        }
        
        .showcase-background {
            padding: 5% 10%;
        }
        
        .image-wrapper{
            margin: auto;
            align-items: center;
            justify-content: center;
            height: 100%;
            display: flex;
            
            img {
            height: auto;
            width: 100%;
            max-height: 50vh;
            }
        }

        .image-wrapper-album{
            margin: auto;
            align-items: center;
            justify-content: center;
            height: 100%;
            display: flex;
            
            img {
            height: auto;
            max-height: 40vh;
            }
        }
    }

    .showcase-box:hover {
        transition: 2s opacity ease-in-out;
        -webkit-transition: 2s -webkit-opacity ease-in-out;
        -moz-transition: 2s -moz-opacity ease-in-out;
        -ms-transition: 2s -ms-opacity ease-in-out;
        -o-transition: 2s -o-opacity ease-in-out;

        .Blur-wrap{
            opacity: 1;
        }
    }
}

}

@media screen and (min-width: 992px){
    .wrapper {
        padding: 0 10%;
        max-width: 1200px;
        margin: 0 auto;  
    }

    .button-wrapper {
        display: block;
        padding: 1em 0;

        a {
            border: solid 2px #0056ff ;
            background-color: #0056ff;
            padding: 1em 2em;
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 1em;
            color: white;
            text-decoration: none;
        }

        a:hover {
            border: solid 2px #004adf ;
            background-color: #004adf ;
            transition: 0.1s ease-in-out ;
        }
    }

    .button-wrapper-alt {
        display: block;
        padding: 2em 0;

        a {
            border: solid 2px #0056ff ;
            padding: 1em 2em;
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 1em;
            color: #0056ff;
            text-decoration: none;
        }

        a:hover{
            border: solid 2px #0056ff ;
            background-color: #0056ff;
            color: white;
            transition: all ease-in-out 0.1s;
        }
    }

    .navbar{
        margin: 0 10%;
        padding-bottom: 0;

        .navbar-brand {
            width: 40%;
            max-width: 300px;
            justify-content: left;
    
                .logo-full__blue {
                    width: 100%;
                    justify-content: left;
                }
            }

        .container-fluid {
            justify-content: space-between;
            padding-bottom: 1em;
            border-bottom: solid black 2px;
            margin: 0;
            width: 100%;
    
            .collapse {
                text-align: right;
                justify-content: right;
                align-items: right;
                margin: auto;
                margin-right: 0;

                .navbar-nav{
                    margin: auto;
                    margin-right: 0;   
                }
    
                .nav-link {
                    color: black;
                    font-family: "SuisseIntl-SemiBold";
                    margin-left: 1.5em;
                    transition: all 0.2s ease-in-out;
                }
    
                .nav-link:hover {
                    color: $blue;
                }
    
            }
        }
    }

    .navbar-white {
        margin: 0 10%;

        .navbar-brand {
            width: 40%;
            max-width: 300px;
            justify-content: left;
    
                .logo-full__blue {
                    width: 100%;
                    justify-content: left;
                }
            }

        .container-fluid {
            justify-content: space-between;
            padding-bottom: 1em;
            border-bottom: solid white 2px;
            margin: 0;
            width: 100%;
    
            .collapse {
                text-align: right;
                justify-content: right;
                align-items: right;
                margin: auto;

                .navbar-nav{
                    margin: auto;
                    margin-right: 0;   
                }
    
                .nav-link {
                    color: white;
                    font-family: "SuisseIntl-SemiBold";
                }
    
                .nav-link {
                    color: white;
                    margin-left: 1.5em;
                    transition: all 0.2s ease-in-out;
                }
    
                .nav-link:hover {
                    color: $blue;
                }
    
            }
        }
    }

    footer {
        padding: 1em 3em;
        display: flex;
        justify-content: space-between;
        border-top: solid 2px;

        
        .logo__blue {
            height: 60%;
            float: left;
            margin-top: 0.5em;
            }
        
        ul {
            float: right;
            text-align: right;
            list-style: none;
            

                li  {
                    font-size: 1em;
                    padding: 0 1.5em;
                    font-family: 'SuisseIntl-SemiBold';
                    a {
                        text-decoration: none;
                        color: black;
                        }
                }
            }
    }

    .footer-white {
        padding: 1em 3em;
        display: flex;
        justify-content: space-between;
        border-top: solid 2px white;

        .logo__white {
            height: 60%;
            float: left;
            margin-top: 0.5em;
            }
        
        ul {
            float: right;
            text-align: right;
            list-style: none;
            color: white;
            

                li  {
                    font-size: 1em;
                    padding: 0 1.5em;
                    font-family: 'SuisseIntl-SemiBold';
                    a {
                    text-decoration: none;
                    color: white;
                    }
                }
            }
    }

    .hero-section {
        height: 88vh;
        display: flex;
        align-items: center;

        .column {
            float: left;
            width: 50%;
            padding: 10% 5%;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        h1 {
            font-family: 'SuisseIntl-SemiBold';
            font-size: 3.5em;
            line-height: 1em;
        }

        h2 {
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 1em;
            line-height: 1.4;
        }

        .button-wrapper {
            a{
            padding: 1em 4em;
            }
        }

        img {
            height: 40vh;
        }

        .three-screens {
            max-width: 30vw;
        }

        .hero-img-top {
            position: absolute;
            top: 25%;
            right: 15%;
        }

        .hero-img-mid {
            position: absolute;
            top: 35%;
            right: 22%;
        }

        .hero-img-bottom {
            position: absolute;
            top: 40%;
            right: 30%;
        }
    }

    .Checkusout {
        display: flex;
        text-align: center;
        align-items: center;
        height: 100vh;
        margin: auto;

        h1 {
            font-family: 'SuisseIntl-SemiBold';
            font-size: 5em;   
            padding: 0;
            padding-bottom: 0.5em;
        }

        .button-wrapper {
            padding: 0.05em;
        }
    }

    .service-preview {
        color: white;
        
        .col {
            margin: auto;
            height: 80vh;
            padding: 10% 8%;
            position: relative;
        }

        h1 {
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 2.5em;
            line-height: 1.4;
        }

        h3 {
            font-family: 'SuisseIntl-Thin';
            font-size: 1.5em;
        }

        .service-preview-button {
            
            position: absolute;
            bottom: 2em;
            right: 5em;
            display: flex;
            justify-content: right;

            a {
                display: flex;
                font-family: 'Sharp Grotesk Book 20';
                font-weight: 100;
                text-decoration: none;
                color: white;
                
                p {
                    padding: 0 0.5em;
                }

                img {
                    max-height: 1.5em;
                }
            }

            

        }

    }

    .testimonials {
        color: white;
        padding: 5% 10em;
        
        background-color: #0056ff;

        h1 {
            font-family: 'SuisseIntl-SemiBold';
            font-size: 3.5em;
            line-height: 1em;
        }

        h2 {
            font-family: 'Sharp Grotesk Book 20';
            font-weight: 500;
            font-size: 2.5em;
            line-height: 1.4;
        }

        h3 {
            font-family: 'SuisseIntl-Thin';
            font-size: 1.5;
        }

        .carousel-control-next {
            width: auto;
        }

        .carousel-control-prev {
            width: auto;
        }

        .carousel-control-next {
            width: auto;
        }

        .carousel-control-prev {
            width: auto;
        }

        .carousel-inner {
            min-height: 50vh;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
    
        }

    }

    .contactus {
        scroll-behavior: smooth;

        .contact-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            padding-top: 5em;
            padding-bottom: 1em;

            h1 {
                font-family: 'SuisseIntl-SemiBold';
                font-size: 4em;
                line-height: 1;
            }

            ul {
                float: right;
                list-style: none;
                text-align: right;
            
                li a {
                    text-decoration: none;
                    color: black;
                    font-size: 1em;
                    padding: 0 1.5em;
                    font-family: 'SuisseIntl-SemiBold'
                }
            }
        }

        .form-block {
            display: flex;
            flex-direction: column;
            padding: 0 5% 10% 5%;

            label {
                font-family: "Sharp Grotesk Book 20";
                font-weight: 900;
                width: 100%;
            }
            
            input[type=text], input[type=email], input[type=tel] {
                border: none;
                border-bottom: solid 3.5px black;
                padding: 0 1em 0.5em 1em;
                margin: 1em 0 2em 0;
                width: 100%;

                font-family: 'SuisseIntl-Thin';
                font-size: 1em;
                font-weight: 900;
            }

            textarea {
                border: none;
                border-bottom: solid 3.5px black;
                margin: 1em 0 2em 0;
                padding: 0em 1em 5em 1em;
                width: 100%;

                resize: vertical;
                font-family: 'SuisseIntl-Thin';
                font-size: 1em;
                font-weight: 900;
            }

            input:focus, textarea:focus {
            border-bottom: solid 3.5px #0056ff;
            }

            input[type=submit] {   
                display: block;
                margin: auto;

                font-family: 'Sharp Grotesk Book 20';
                font-weight: 500;
                font-size: 1em;
                background-color: #0056ff;
                    
                border: none;
                color: white;
                padding: 1em 6em;
                text-decoration: none;
                cursor: pointer;
            }

            input[type=submit]:hover {
                background-color: #0035ff;
            }  
        }
    }

    .about-header {
        padding: 10% 10%;
        display: block;
        margin: auto;

        h1 {
            font-family: 'SuisseIntl-Bold';
            font-size: 4.5em;
            margin: auto;
        }

        p {
            font-family: 'SuisseIntl-Light';
            font-size: 20px;  
        }
    }

    .design-language {
        display: none;

        .accordion__div {
            padding: 5% 5%;
        }

        .accordion {
            width: 100%;
            background: blue($color: #000000);
            border: none;
            display: flex;
            text-decoration: none;
            
            img {
                height: 3em;
                display: block;
                margin: auto;
                cursor: pointer;
                transition: transform 0.2s;
            }

            h1 {
                white-space: nowrap;
                font-family: 'SuisseIntl-SemiBold';
                font-size: 4em;
                padding: 0 0.5em;
                text-decoration: none;
                color: black;
                cursor: pointer;
            }

            .line-wrapper{
                width: 100%;
                display: block;
                margin: auto;

                .line-divider {
                    height: 3.5px;
                    border: solid;
                    cursor: pointer;
                    transition: ease-in-out 0.2s  ;
                }
            }
        } 

        .accordion.active {
            img {
                transform: rotate(45deg);
            }

            .line-divider  {
                border: solid  #0056ff ; 
            } 
        }
        
        .accordion:hover .line-divider  {
                border: solid  #0056ff ; 
        } 

        .accordion__content {
            max-height: 0;
            overflow: hidden;
            transition: max-height ease-in-out 0.3s;
            p {
                padding: 0 10%;
                font-family: 'SuisseIntl-Light';
                font-size: 20px;  
            } 
        }

        button.accordion__header {
            width: 100%;
            background-color: whitesmoke;
            display: flex;
            text-decoration: none;
            border: none;
            outline: none;
            text-align: left;
            padding: 15px 20px;
            font-size: 18px;
            color: #444;
            cursor: pointer;
            transition: background-color 0.2s linear;
        }
        .accordion__design{
            background-color: white;
            border-left: 1px solid whitesmoke;
            border-right: 1px solid whitesmoke;
            padding: 0 20%;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-in-out;
        }
    }
    
    .lets-work {
        padding: 3% 5%;
        
        .column-left {
            float: left;
            width: 40%;
            padding-top: 2%;
        }

        .column-right {
            float: left;
            width: 60%;
            padding-left: 10%;
            padding-top: 3%;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .Lets-work-title{

            h1 {
            font-family: 'SuisseIntl-Bold';
            font-size: 4.5em;
            line-height: 1em;
            margin: auto;
            margin-bottom: 5%;
            }

            h2 {
            font-family: 'SuisseIntl-Thin';
            font-size: 1.3em;
            margin: auto;
            }
        }


        .form-block {
            display: block;
            padding: 0 5% 0 0;

            label {
                font-family: "Sharp Grotesk Book 20";
                font-weight: 900;
            }
            
            input[type=text], input[type=email], input[type=tel] {
                border: none;
                border-bottom: solid 3.5px black;
                padding: 0 1em 0.5em 1em;
                margin: 1em 0 2em 0;
                width: 100%;

                font-family: 'SuisseIntl-Thin';
                font-size: 1em;
                font-weight: 900;
            }


            textarea {
                border: none;
                border-bottom: solid 3.5px black;
                margin: 1em 0 2em 0;
                padding: 0em 1em 5em 1em;
                width: 100%;

                resize: vertical;

                font-family: 'SuisseIntl-Thin';
                font-size: 1em;
                font-weight: 900;
            }

            input:focus, textarea:focus {
            border-bottom: solid 3.5px #0056ff;
            }

            

            input[type=submit] {   
                display: block;
                margin: auto;

                font-family: 'Sharp Grotesk Book 20';
                font-weight: 500;
                font-size: 1em;
                background-color: #0056ff;
                    
                border: none;
                color: white;
                padding: 1em 6em;
                text-decoration: none;
                cursor: pointer;
            }

            input[type=submit]:hover {
                background-color: #0035ff;
            }
        }
    }

    .scroll-carousel {

        .row- {
            display: flex;
            clear: both;
        }

        .column-left {
            display: table-cell;
            float: left;
            width: 40%;
            padding-top: 2%;
            

            h1 {
                font-family: 'SuisseIntl-Bold';
                font-size: 4.5em;
                letter-spacing: auto;
                color: white;
            }

            .portfolio-menu {
                font-family: 'Sharp Grotesk Book 20';
                position: -webkit- sticky;
                position: sticky;
                top: 70vh;
                padding-bottom: 2em;

                ul {
                    padding: 0;
                    list-style: none;
                
                    li {
                        padding: 5px 0;

                        a:active {
                            color: white;
                            font-size: 1.5em;
                        }  

                        a:hover {
                            color: #0056ff;
                            font-size: 1.7em;
                        }

                        a {
                            color:white;
                            font-size: 1.3em;
                            transition:all .3s ease;
                        }
                    }
                }
            }
        }    

        .column-right {
            display: table-cell;
            float: right;
            width: 100%;
            padding-left: 10%;
            
            
            h4 {
                color: white;
                font-family: 'Roboto Mono';
                font-size: 0.7em;
            }

            .branding-section {
                padding-top: 5%;
                scroll-behavior: smooth;
            }

            .imagebox {
                text-align: center;
                font-size: 1.2em;
                padding: 0 5%;
                margin-bottom: 7em;

                img {
                    margin-bottom: 1em;
                }
            }
            
            .imagebox-padded {
                
                text-align: center;
                font-size: 1.2em;
                padding: 0 5%;
                margin-bottom: 7em;

                img {
                    margin-bottom: 1em;
                    height: 15em;
                }
            }

            .line-wrapper{
                width: 100%;
                margin-bottom: 7em;
                
        
                .line-divider {
                    height: 1px;
                    border: solid white 1px;
                }
            }

            .album-covers {
                scroll-behavior: smooth;

                .imagebox-padded {
                    
                    text-align: center;
                    font-size: 1.2em;
                    margin-bottom: 7em;
        
                    img {
                        margin-bottom: 1em;    
                        height: 30em
                    }
                }
            }

            .website-section{

                img {
                    border-radius: 8px;
                    transition: all ease-in-out 0.2s;
                    height: 2em;
                    height: 15em;
                }

                img:hover {
                    border: solid 4px $blue;
                }
            }
        
        }
    }

    .Portfolio-Title {
        text-align: center;
        color: white;
        margin: 5em 0;

        h1 {
        font-family: 'SuisseIntl-Bold';
        font-size: 4em;
        }
    }

    .Menu {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        height: auto;
        background: #000000;
        z-index: 1000;

        .Menu-wrapper {
            color: white;
            display: flex;
            margin: auto;
            justify-content: center;
            padding-top: 1em;
            padding-bottom: 1em;


                a {
                    margin: 0 2em ;
                    text-decoration: none;
                    color: white;
                    text-align: center;
                }

                a:hover {
                    color: $blue;
                }

                a:active {
                    color: $blue;
                }
        }
    }

    .portfolio-section {
        margin-bottom: 4em;
        .line-divide { 
            margin-bottom: 4em;
            height: 3px;
            background-color: white;
        }

        .showcase-box{
            margin: auto;
            align-content: center;
            justify-content: center;
            height: 80vh;
            text-align: center;

            .Blur-wrap{
                position: absolute;
                width: 100%;
                height: 80vh;
                display: flex;
                align-items: center;
                opacity: 0;
                transition: .5s ease;
                background-color: #00000080;
                

                h2 {
                    margin: auto;
                    text-align: center;
                    font-size: 5em;
                    color: white;
                }
            }
            
            /*.showcase-background {
                padding: 5% 10%;
            }*/

            .image-wrapper{
                padding: 5% 10%;
                margin: auto;
                align-items: center;
                justify-content: center;
                height: 100%;
                display: flex;
                
                img {
                    height: auto;
                    width: 100%;
                    max-height: 50vh;
                }
            }
        
                .image-wrapper-album{
                    padding: 5% 10%;
                    margin: auto;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    display: flex;
                    
                    img {
                    height: auto;
                    max-height: 80vh;
                    }
                }
            
        }

        .showcase-box:hover {
            transition: 2s opacity ease-in-out;
            -webkit-transition: 2s -webkit-opacity ease-in-out;
            -moz-transition: 2s -moz-opacity ease-in-out;
            -ms-transition: 2s -ms-opacity ease-in-out;
            -o-transition: 2s -o-opacity ease-in-out;

            .Blur-wrap{
                opacity: 1;
            }
        }
    }

    .showcase-hero {
        position: relative;
        height: 70vh;

        .showcase-title {
            background-color: $blue;
            width: 60%;
            position: absolute;
            top: 50vh;
            height: 40vh;
            padding: 3em 5em;
            color: white;

            h1 {
                font-family: 'Sharp Grotesk Book 20';
                font-weight: 500;
                font-size: 2.5em;
                line-height: 1.2em;
            }
    
            p {
                font-family: 'SuisseIntl-Thin';
                font-size: 1.2em;
            }
        }

    }

    .showcase-content {
        padding-top: 20em;

        p {
                font-family: 'SuisseIntl-Light';
                font-size: 1.2em;
            }

        .showcase-sub-heading {
            padding: 0 3em;
            padding-bottom: 10em;
            

            h1 {
                text-align: center;
                font-family: 'SuisseIntl-SemiBold';
                font-size: 3.5em;
                line-height: 1em;
            }   
        }

        .showcase-image {
            padding-bottom: 10em;
            img {
                padding-bottom: 1em;
            }
        }

        .showcase-back {
            display: flex;
            margin: auto;
            padding-bottom: 5em;


            a{
                display: flex;
                align-items: center;
                margin: auto;
                text-decoration: none;
                border: solid 4px $blue;
                padding: 0 2em;

                h3 {
                    color: #0056ff;
                    padding: 0 0.5em ;
                    font-family: 'SuisseIntl-SemiBold';
                    font-size: 2em;
                    margin: 0;
                }

                img {
                    max-height: 3em;
                }
            }

            a:hover {
                background-color: $blue;
                h3 {
                    color: white;   
                }

            }
        }
    }
}
